header{
    display: flex;
    i{
        justify-items: end;
        
    }
}
main{
    .search{
        h3{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 35px;

        }
        
    }
    .dogs{
        border: 3px solid;
        
    }
    .result{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;

    }
    .pics{
        display: flex;
        
        .col-md-4{
            img{
                display: block;
                justify-items: center;
                justify-content: space-between;

            }
            

        }
    }
    .more{
        border: 2px solid;
        border-radius: 5px;
        align-items: center;
        p{
            align-items: center;
            padding-left: 700px;
            font-size: 20px;
        }
        
    }
}